pipeline/P_AdfNativeApprovalCompute.json
{
	"name": "P_AdfNativeApprovalCompute",
	"properties": {
		"description": "Computes ADF native approval parameters. Only includes storage account information",
		"activities": [
			{
				"name": "ReadApprovalTemplate",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.00:20:00",
					"retry": 2,
					"retryIntervalInSeconds": 60,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "DS_ADLSGen2_AdfNativeApproval_Template",
						"type": "DatasetReference",
						"parameters": {
							"BuildVersion": {
								"value": "@pipeline().globalParameters.BuildVersion",
								"type": "Expression"
							},
							"TemplateFileName": "AdfNativeApprovalComputeTemplate.json"
						}
					}
				}
			},
			{
				"name": "ReadPathTemplates",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.00:20:00",
					"retry": 2,
					"retryIntervalInSeconds": 60,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "DS_ADLSGen2_AdfNativeApproval_Paths",
						"type": "DatasetReference",
						"parameters": {
							"BuildVersion": {
								"value": "@pipeline().globalParameters.BuildVersion",
								"type": "Expression"
							}
						}
					}
				}
			},
			{
				"name": "SetOutputTemplate",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "ReadPathTemplates",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "OutputPathTemplate",
					"value": {
						"value": "@replace(activity('ReadPathTemplates').output.firstRow.Common.StorageAccountOnly.Output, '<OutputStorageAccount>', if(pipeline().parameters.UsePrimaryAccountForOutput, pipeline().globalParameters.dataPlaneStorageAccount, pipeline().globalParameters.dataPlane2StorageAccount))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "BuildApprovalBody",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "SetOutputTemplate",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "ReadApprovalTemplate",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "ForEachInputAccount",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "pipelineReturnValue",
					"value": [
						{
							"key": "ApprovalBody",
							"value": {
								"type": "Expression",
								"content": "@replace(replace(replace(activity('ReadApprovalTemplate').output.firstRow.Prop_0, '<SourcePaths>', join(variables('InputPathTemplateAcc'), ',')), '<DestinationPaths>', concat('\"', variables('OutputPathTemplate'), '\"')), '<Ring>', pipeline().globalParameters.Ring)"
							}
						}
					],
					"setSystemVariable": true
				}
			},
			{
				"name": "SplitInputAccounts",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "InputStorageAccountsSplit",
					"value": {
						"value": "@split(replace(pipeline().parameters.InputStorageAccountsCSV, ' ', ''), ',')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEachInputAccount",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "SplitInputAccounts",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "SetInputTemplate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('InputStorageAccountsSplit')",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "AppendInputAccount",
							"type": "AppendVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "InputPathTemplateAcc",
								"value": {
									"value": "@replace(concat('\"', variables('InputPathTemplate'), '\"'), '<InputStorageAccount>', item())",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "SetInputTemplate",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "ReadPathTemplates",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "InputPathTemplate",
					"value": {
						"value": "@activity('ReadPathTemplates').output.firstRow.Common.StorageAccountOnly.Input",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"InputStorageAccountsCSV": {
				"type": "string",
				"defaultValue": "account1,account2,account3"
			},
			"UsePrimaryAccountForOutput": {
				"type": "bool",
				"defaultValue": true
			}
		},
		"variables": {
			"ApprovalBodyWithInputOutput": {
				"type": "String"
			},
			"InputPathTemplateAcc": {
				"type": "Array"
			},
			"OutputPathTemplate": {
				"type": "String"
			},
			"InputStorageAccountsSplit": {
				"type": "Array"
			},
			"InputPathTemplate": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Approval"
		},
		"annotations": [
			"deployedFromCICD"
		],
		"type": "",
		"lastPublishTime": "2024-11-13T01:49:12Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}